{% extends '__base__.html' %}

{% block title %}{{ blog.name }} - {{ user.name }}的日志 {% endblock %}

{% block beforehead %}


<!-- Codemirror 和 marked 依赖 -->
<link rel="stylesheet" href="/static/css/codemirror.css">
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/markdown.js"></script>
<script src="/static/js/overlay.js"></script>
<script src="/static/js/xml.js"></script>
<script src="/static/js/gfm.js"></script>
<script src="/static/js/marked.js"></script>


<script src="/static/js/components/htmleditor.js"></script>
<link rel="stylesheet" href="/static/css/components/htmleditor.css">
<script>
function initVM(data)
{
    if (typeof(commentsVM) === 'undefined')
    {
        commentsVM = new Vue(
                {
                    el:'#Comment',
                    data:{
                        comments:data.comments
                    },
                    methods:
                    {
                        UpdateCommend:function()
                        {
                            var title = $('#comment-title').val();
                            var content =  $('#comment-content').val();
                            var blog_id = '{{ blog.id }}'
                            postJSON('/comments/update',{title:title,content:content,blog_id:blog_id},function(err,r)
                            {
                                if(err)
                                {
                                      return alert(err.message || err.error || err);
                                }
                                this.comments = r.comments;

                            });
                        }
                    }
                }
        )
    }
    else
    {
        commentsVM.comments = data.comments;
    }
    $('#Comment').show();
}


$(function() {
    getJSON('/blog/comments', {
        blog_id: '{{ blog.id }}'
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});

</script>

{% endblock %}

{% block content %}
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title">{{ blog.name }}</h1>
                    <p class="uk-article-meta"><span>{{ blog.created_at }}</span></p>
                    <p class="uk-article-lead">
                        {{ blog.content | safe}}
                    </p>
                    <hr class="uk-article-divider">
                </article>
            </div>
            <div>

            </div>
            <div id="loading" class="uk-width-1-1 uk-text-center">
                <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
            </div>
            </br>
            <h3>
                评论
            </h3>
            <br>
            <div id="Comment">
                <article class="uk-comment" v-for="comment in comments">
                    <ul>
                        <header class="uk-comment-header">
                            {% raw %}
                            <img class="uk-comment-avatar" :src="comment.user_image" alt="" height="50" width="50">
                            <h4 class="uk-comment-title" v-text="comment.title"></h4>
                            <div class="uk-comment-meta">
                                <a class="uk-align-left" href="/userview/{{ comment.user_id }}" v-text="comment.user_name"></a>
                                <span class="uk-align-left">发表于</span>
                                <span class="uk-align-left x-smartdate" v-text="comment.created_at.toSmartDate()"></span>
                            </div>
                            {% endraw %}
                        </header>
                        <div class="uk-comment-body">
                            <p><span v-html="comment.content"></span></p>
                        </div>
                    </ul>
                </article>

                <form id="comment-form" class="uk-form" style="">
                    <fieldset>
                        <div class="uk-alert uk-alert-danger uk-hidden" style="display:none"></div>
                        <div class="uk-form-row">
                            <span>标题:</span>
                        </div>
                        <div class="uk-form-row">
                            <input id="comment-title" type="text" name="name" maxlength="100" style="width:100%">
                        </div>
                        <div class="uk-form-row">
                            <span>内容:</span>
                        </div>
                        <div class="uk-htmleditor-code">
                            <textarea id="comment-content" data-uk-htmleditor="{maxsplitsize:600}" data-uk-check-display="1" style="display: none;"></textarea>
                        </div>
                        <div class="uk-form-row">
                            <button v-on:click="UpdateCommend" class="uk-button uk-button-primary"><i class="uk-icon-check"></i> 发布</button>
                            &nbsp;&nbsp;
                            <!--<button type="button" class="uk-button x-cancel"><i class="uk-icon-close"></i> 取消</button>-->
                        </div>
                    </fieldset>
                </form>
            </div>
{% endblock %}