{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/codemirror.css">
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/markdown.js"></script>
<script src="/static/js/overlay.js"></script>
<script src="/static/js/xml.js"></script>
<script src="/static/js/gfm.js"></script>
<script src="/static/js/marked.js"></script>


<script src="/static/js/components/htmleditor.js"></script>
<link rel="stylesheet" href="/static/css/components/htmleditor.css">

<script>
var
    blog = '{{ blog }}',
    action = '{{ action }}';

function initVM(blog) {
    vm = new Vue({
        el: '#vm',
        data: blog
    });
    $('#vm').show();
    vm.name = '{{ blog.name }}';
}

$(function () {
    $('#loading').hide();
    if (blog)
    {
        initVM({
            name :'{{ blog.name }}',
            summary:'{{ blog.summary }}',
            content:'{{ blog.content }}'
        })
    }
    else
    {
        initVM({
            name :'',
            summary:'',
            content:''
        })
    }
});
</script>

{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>
    <div id="vm" class="uk-width-2-3">
        <form action="" method="post" name="edit" class="uk-form uk-form-stacked">
            {{ form.hidden_tag() }}
            <div class="uk-form-row">
                {{ form.name.label(class="uk-form-label") }}
                <div class="uk-form-controls">
                    {{ form.name(class="uk-width-1-1", **{'placeholder':'标题', 'v-model':'name'}) }}
                    <br>{% for error in form.name.errors %}
                        <span style="color: red;">[标题不能为空]</span>
                    {% endfor %}
                    </br>
                </div>
            </div>
            <div class="uk-form-row">
                {{ form.summary.label(class="uk-form-label") }}
                <div class="uk-form-controls">
                    {{ form.summary(class="uk-width-1-1", **{'rows':'4', 'v-model':'summary',  'placeholder':'摘要',  'style':'resize:none;'}) }}
                </div>
            </div>
            <div class="uk-form-row">
                 {{ form.content.label(class="uk-form-label") }}
                <div class="uk-htmleditor-code">
                    {{ form.content(class="uk-width-1-1", **{"v-html":"content", "data-uk-htmleditor":"{maxsplitsize:600}","data-uk-check-display":"1","style":"display: none;"}) }}
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i>保存</button>
                <a href="/blog/manage" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{% endblock %}